@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: white;
  font-family: "Rubik", sans-serif;
}

.custom-shadow {
  box-shadow: -1px 0px 14px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 14px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 14px -6px rgba(0, 0, 0, 0.75);
}

.ant-space {
  width: 100%;
}

.ant-modal {
  top: 1rem;
}
